<div class="signin-content animated fadeIn">
  <mat-card>
    <mat-card-content>
      <img src="assets/img/logo%201@2x.svg" width="250px" onmousedown="return false;">

      <br><br><br><br><br><br><br>
      <h4>Bienvenue chez Wikeys</h4>
      <p>Vous ne pouvez pas créer un nouveau compte, contactez votre administrateur pour plus d'informations </p>

      <button  mat-raised-button color="primary" (click)="login()" style="width: 100%;" >
        <div >Login</div>
      </button>

    </mat-card-content>
  </mat-card>
</div>
