<div class="animated fadeIn table-container ">
  <mat-card>
    <mat-card-header>
      <i class="material-icons">local_offer</i>
      <mat-card-title>Produits</mat-card-title>
      <mat-card-subtitle>Ajouter, Modifier ou Supprimer des produits</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- Table loading spinner -->
      <div class="center" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>

      <!--      Options DIV-->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!--  Options Menu      -->
        <div fxFlex="80">
          <!--  SELECT CATEGORY        -->
          <mat-form-field>
            <mat-label>Choisir une categorie</mat-label>
            <mat-select #select (valueChange)="getByCategory(select.value)">
              <mat-option>TOUS</mat-option>

              <mat-optgroup *ngFor="let group of categories" [label]="group.name">
                <mat-option *ngFor="let category of group.categories" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex style="margin-right: 16px">
            <input (change)="search(label.value)" (keyup)="search(label.value)"
                   #label
              type="text"
                   placeholder="Rechercher ..."
                   matInput
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let result of searchResults" (click)="getProduct(result._source.productId)">
                {{result._source.title}}
              </mat-option>
              <mat-option disabled *ngIf="searchResults.length === 0">
                Pas de resultat
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxFlex="20">
          <!-- Add button -->
          <button (click)="create()"  mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Ajouter Nouveau Produit
          </button>
        </div>
      </div>

      <mat-table #table [dataSource]="dataSource" class="person-table" matSort matSortActive="id" matSortDisableClear
                 matSortDirection="desc">
        <!-- Table content -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index;"> {{ i + 1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Code EAN</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.productId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="categoryId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</mat-header-cell>
          <mat-cell *matCellDef="let row" [matTooltip]="row.categoryId"
                    [matTooltipClass]="'large'">{{ row.categoryId  | slice:0:20}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="vendorCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Code EAN</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.EanCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="brand">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Marque</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.brand }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descriptionDetails">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.descriptionDetails | slice:0:100  }}...</mat-cell>
        </ng-container>


        <ng-container matColumnDef="createDate">
          <mat-header-cell *matHeaderCellDef>Date de creation</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.createDate | date:'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img style="width:80px" *ngIf="row?.thumbURL[0]" [src]="row?.thumbURL[0]" style="border-style: solid; border-width: 1px ;color: black ; margin:3px "/>
          </mat-cell>
        </ng-container>


        <!-- Table actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            Actions
          </mat-header-cell>


          <mat-cell *matCellDef="let row">

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Click to see more actions">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(row)">
                <mat-icon aria-label="Edit">create</mat-icon>
                Modifier
              </button>
              <button mat-menu-item (click)="delete(row)">
                <mat-icon aria-label="Delete">clear</mat-icon>
                Supprimer
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <!-- Message for empty data  -->
      <div class="mat-table__message" *ngIf="(dataSource.data.length == 0) && !isLoading">We are working on adding more products, Please check later </div>
      <div class="mat-table__message" *ngIf="isLoading">Please wait....</div>


      <div *ngIf="paginationActivated" class="cmd-paginator">
        <div class="element-per-page">
          <div>previous items : {{page * pageSize}}</div>
          <mat-form-field appearance="outline" style="color: black !important;">
            <mat-select [(value)]="pageSize" (valueChange)="pageSizeChanged()">
              <mat-option *ngFor="let op of pageSizeOptions" [value]="op">{{op}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="go-to-page">
          <div *ngIf="page > 1">
            <button mat-icon-button class="prev-arrow-btn" (click)="decrementPageIndex()">
              <span class="material-icons">navigate_before</span>
            </button>
          </div>
          <mat-form-field appearance="outline" style="width: 100%!important; align-content: center" style="color: black !important;">
            <input disabled style="align-content: center" matInput type="number" placeholder="" [(ngModel)]="page">
            <span matSuffix></span>
          </mat-form-field>
          <button mat-icon-button class="next-arrow-btn" (click)="incrementPageIndex()">
            <span class="material-icons">navigate_next</span>
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
