<div class="animated fadeIn dashboard">
  <mat-card class="dashboard-item item-teal float-item" routerLink="/products">
    <i class="material-icons dashboard-icon">sell</i>
    <mat-card-header>
      <mat-card-title>
        <h1>Produits</h1>
      </mat-card-title>
      <mat-card-subtitle>20030 Produits</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="dashboard-item item-brown float-item" routerLink="/users">
    <i class="material-icons dashboard-icon">verified_user</i>
    <mat-card-header>
      <mat-card-title>
        <h1>Utilisateurs</h1>
      </mat-card-title>
      <mat-card-subtitle># Utilisateurs</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
