<h1 mat-dialog-title>Characteristics </h1>

<div fxLayout="row">
  <form fxFlex="49" [formGroup]="charNamesForm" (ngSubmit)="onSubmit()">
    <div formArrayName="charNames">

      <!--    <h3>Aliases</h3> <button (click)="addCharKey()">Add Alias</button>-->
      <div *ngFor="let cherKey of charNames.controls; let i=index">
        <div *ngIf="positions[i][1]" style="margin: 10px">
<!--          <button (click)="addCharName()">Add Characteristic</button>-->
          <b>{{positions[i][1]}} : </b> <br>sssss
        </div>
        <!-- The repeated alias template -->
        <input class="input-table" matInput type="text" [formControlName]="i">
      </div>
    </div>
  </form>

  <form fxFlexOffset="1" fxFlex="49" [formGroup]="charValuesForm" (ngSubmit)="onSubmit()">
    <div formArrayName="charValues">
      <div *ngFor="let cherKey of charValues.controls; let i=index">
        <div *ngIf="positions[i][1]" style="margin: 10px"><br></div>

        <!-- The repeated alias template -->
        <input class="input-table" matInput type="text" [formControlName]="i" style="border-left-width: 0">
      </div>
    </div>
  </form>

</div>


