<div fxLayout="column">
  <div fxLayout="row" fxFlex="100">
    <!--  <h1 >Characteristics </h1>-->
    <div fxFlex fxLayoutAlign="end top">
      <button  mat-raised-button color="primary" (click)="saveCharacteristics()"> Valider les characteristiques</button>
    </div>
  </div>
  <div fxLayout="column">
    <ng-container *ngFor="let form of charFormList; let i=index">
      <form [formGroup]="form" fxLayout="column">
        <!--name-->
        <div fxLayout="row">
          <mat-form-field style=" font-weight: bold">
            <input matInput placeholder="Nom du groupe" [formControlName]="'charType'">
          </mat-form-field>

          <div style="margin-left: 2px; margin-top: 16px">
            <button mat-icon-button color="warn" style=" height: 20px; width: 20px" matTooltip="supprimer le groupe"
                    (click)="removeGroup(i)" > <mat-icon style="vertical-align: baseline;">remove</mat-icon>
            </button>
          </div>
        </div>

        <div fxLayout="row">
          <!-- keys-->
          <div fxFlex="50" formArrayName="charKeys">
            <div *ngFor="let control of getCharKeys(i).controls; index as j">
              <mat-form-field class="" style="width: 100%">
                <input  matInput [formControlName]="j">
                <mat-error>name is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- values-->
          <div  fxFlex="50" formArrayName="charValues">
            <div fxLayout="row" *ngFor="let control of getCharValues(i).controls; index as k" >
              <mat-form-field style="width: 100%">
                <input class="" matInput [formControlName]="k">
                <mat-error> value is required</mat-error>
              </mat-form-field>
              <div style="margin-left: 2px; margin-top: 16px">
                <button mat-icon-button color="warn" matTooltip="supprimer la ligne"
                        (click)="removeKeyValue(i, k)" > <mat-icon style="vertical-align: baseline;">remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>


        <div fxLayoutAlign="end center">
          <button mat-icon-button matTooltip="ajouter une ligne"
                  (click)="addKeyValue(i)"> <mat-icon >add</mat-icon>
          </button>
        </div>

      </form>
    </ng-container>
    <button mat-raised-button color="accent" (click)="addGroup()">Ajouter un groupe de characteristiques</button>
  </div>
</div>



