<div fxLayout="column">
  <h1 mat-dialog-title>Characteristics </h1>

  <table role="list">

    <ng-container *ngFor="let charType of characteristics[0] | keyvalue">
      <tr>
        <td class="no-border"><b>{{charType.key}} :</b></td>
      </tr>
      <ng-container *ngFor="let characteristic of charType.value | keyvalue">
        <tr>
          <td>{{characteristic.key}}</td>
          <td> {{characteristic.value}} </td>
        </tr>
      </ng-container>
      <br><br><br>
    </ng-container>

  </table>
</div>

<!--<form [formGroup]="characteristicsForm" (ngSubmit)="onSubmit()">-->
<!--  <div formArrayName="charKeysInputs">-->
<!--    <h3>Aliases</h3> <button (click)="addCharKey()">Add Alias</button>-->

<!--    <div *ngFor="let cherKey of charKeysInputs.controls; let i=index">-->
<!--      &lt;!&ndash; The repeated alias template &ndash;&gt;-->
<!--      <label>-->
<!--        <input type="text" [formControlName]="i">:-->
<!--      </label>-->
<!--    </div>-->
<!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--    <div *ngFor="let charValue of charValuesInputs.controls; let j=index">-->
<!--      &lt;!&ndash; The repeated alias template &ndash;&gt;-->
<!--      <label>-->
<!--        <input type="text" [formControlName]="j+12">:-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->


