.scroll{
  overflow-y: scroll
}
mat-form-field {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.button-row {
    margin-top: 2vh;
    text-align: right;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.main-image{
  border: #c1baba;
  border-radius: 20px;
  border-style: solid;
}

.thumb{
  margin: 10px ;
  border: #c1baba;
  border-radius: 15px;
  border-style: solid;
  width: 100px;
  border-width: 2px;
  padding: 5px;


}

img:hover.thumb {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.dates{
  color: #8b8b8b;
  margin-bottom: 25px;
  font-size: small;

}

.selected{
  margin: 12px ;
  border: #E91E64;
  //border-width: 10px;
  border-radius: 20px;
  border-style: solid;
  width: 100px;
}

