<div fxLayout="column">

  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button color="primary" (click)='save(frm)' class="btnSave" [disabled]="!frm.valid">
      <mat-icon aria-label="icon-button">save</mat-icon>
      <span>Save</span>
    </button>
  </div>


  <h1 mat-dialog-title> {{data.data.title}}</h1>
  <div fxLayout="row">

    <div fxFlex="50">
      <div mat-dialog-content>
        <div class="dates">
          <div>
            <span>Creation Date :</span>
            {{data.data.createDate | date:'d/MM/yyyy'}}
          </div>

          <div>
            <span>Last modification Date :</span>
            {{data.data.modifyDate | date: 'd/MM/yyyy'}}
          </div>
        </div>
        <form [formGroup]="frm">
          <mat-form-field>
            <input matInput placeholder="Product name" formControlName="title" class="person-input">
            <mat-hint align="end">{{frm.controls.title.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="frm.controls.title.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <br/>

          <mat-form-field>
            <input matInput placeholder="Product EAN" formControlName="productId" class="person-input">
            <mat-hint align="end">{{frm.controls.productId.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="frm.controls.productId.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Category" formControlName="categoryId" class="person-input">
            <mat-hint align="end">{{frm.controls.categoryId.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="frm.controls.categoryId.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Brand" formControlName="brand" class="person-input">
            <mat-hint align="end">{{frm.controls.brand.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="frm.controls.brand.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>


          <mat-form-field>
            <input matInput placeholder="vendor Code" formControlName="VendorCode" class="person-input">
            <mat-hint align="end">{{frm.controls.VendorCode.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="frm.controls.VendorCode.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
          <textarea matInput placeholder="description " formControlName="descriptionDetails" class="person-input"
                    rows="10"></textarea>
            <mat-hint align="end">{{frm.controls.descriptionDetails.value?.length || 0}}/10</mat-hint>
            <mat-error *ngIf="frm.controls.descriptionDetails.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

        </form>
      </div>

    </div>
    <!--    images component-->
    <div fxFlexOffset="5" fxLayout="column" fxFlex="45" fxLayoutAlign="center top">
      <div class="main-image" fxLayoutAlign="center top">
        <ng-container *ngIf="displayedImage; else noImage ">
          <img style="max-width: 500px" style="border-radius: 17px" [src]="displayedImage">
        </ng-container>
        <ng-template #noImage>
          <img width="400px"
               src="./assets/img/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg">

        </ng-template>
      </div>
      <div fxLayoutAlign="left top" fxFlex="100" style="width: 100% ;  overflow-x: scroll">
        <div style="height:0px; width:0px;overflow:hidden">
          <input type="file" #fileInput/>
        </div>
        <button (click)="chooseImage()" style=" margin: 13px; min-width: 100px; border-radius: 14px;"
                fxLayoutAlign="center center">
          <mat-icon style="" aria-hidden="false" aria-label="Add ">upload</mat-icon>
        </button>
        <ng-container *ngFor=" let img of data.data.imgURL; let i = index">
          <img [class]=" displayedImage == data.data.imgURL[i]? 'selected':'thumb'" [src]="data.data?.thumbURL[i]"
               (click)="changeImage(data.data?.imgURL[i])">
        </ng-container>

      </div>
    </div>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>
  <!--  characteristics table-->
  <app-chars-table (savedCharacteristics)="saveCharacteristics($event)" [characteristics]="data.data.characteristics"></app-chars-table>


</div>
